@import url('https://fonts.googleapis.com/css?family=Oswald|Poiret+One&display=swap');

:root {
    font-family: 'Oswald', sans-serif;
    --main-color: #30332E;
    --text-color: #E2E2E2;
    --orange-color: #bd632f;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    max-width: 980px;
    margin: auto;
    box-shadow: 0 0 10px #222;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b2e29;
    padding-top: 20px;
    padding-bottom: 40px;
}

.contacts h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 15px;
}

.contacts h2::after {
    content: "";
    display: block;
    width: 3.5rem;
    height: 2px;
    background-color: var(--text-color);
    margin: 5px auto 0;
    border-radius: 2px;
}

.contacts form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    border-radius: 5px;
}

.contacts form input, textarea {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #989997;
	background: transparent;
	margin-bottom: 10px;
    resize: none;
	height: 45px;
    color: var(--text-color);
    transition: border-bottom 0.3s;
}

.contacts form input::placeholder, textarea::placeholder {
    color: #c1c2c0;
}

.contacts form input:focus, textarea:focus {
    border: none;
    border-bottom: 2px solid var(--text-color);
    outline: none;
}

.contacts form textarea {
    height: 10rem;
}

.contacts form input.button {
    text-align: center;
    border: none;
    width: 10rem;
    align-self: center;
    transition: background-color 0.25s;
    background-color: #454743;
    box-shadow: 0 0 8px #222;
    border-radius: 3px;
}

.contacts form input.button:hover {
    background-color: var(--orange-color);
}

.contacts-info {
    margin: 30px 0;
}

.contacts .contacts-info a {
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.25s;
    padding: 12px 6px;
    margin-right: 5px;
    border-radius: 3px;
    transition: color .25s;
}

.contacts .contacts-info a:hover {
    color: var(--orange-color);
}

.contacts .contacts-info a i {
    font-size: 1.2rem;
}

.contacts-map {
    width: 100%;
    overflow: hidden;
    align-self: center;
}

@media (min-width:620px) {
    .contacts-map {
        width: auto;
    }
}

footer { 
    padding: 20px 0;
    text-align: center;
    box-shadow: 
    inset 0px 11px 10px -10px #111,
    inset 0px -11px 10px -10px #111;
}

footer i {
    margin: 10px;
    font-size: 3rem;
    color: var(--text-color);
    transition: color .25s;
}

footer i:hover {
    color: var(--orange-color);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 3px;
}

footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: .9rem;
    transition: color .25s;
}

footer ul li a:hover {
    color: var(--orange-color);
}

.button {
    margin: 5px;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    border-radius: 3px;
    transition: background 0.45s;
    background-color: rgba(48, 51, 46, 0.8);
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: var(--orange-color);
}