.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
    padding: 0 1rem;
    background-image: url('../images/sonusfaber-ilcremonese.jpg');
    background-position: right;
    background-size: cover;
}

.banner h1 {
    width: 100%;
    margin-left: 1rem;
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
}

@media (min-width: 48em) {
    .banner {
        min-height: 36rem;
    }

    .banner h1 {
        margin-left: 3rem;
    }
}

.about {
    padding: 20px 10px;
    box-shadow: var(--top-bottom-shadow);
    text-align: justify;
}

.about h2 {
    margin: 0;
    font-family: 'Poiret One', cursive;
    font-size: 1.7rem;
    text-align: center;
}

.about h2::after {
    content: "";
    display: block;
    width: 2.5rem;
    height: 2px;
    margin: 5px auto 0;
    background-color: var(--text-color);
    border-radius: 2px;
}

main .gallery .gallery-item {
    display: block;
    width: auto;
    max-height: 200px;
}

.services {
    box-shadow: var(--top-bottom-shadow);
    padding: 20px;
}

.services-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.services h2 {
    margin: 0;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 1.7rem;
}

.services h2::after {
    content: "";
    display: block;
    width: 3.5rem;
    height: 2px;
    margin: 5px auto 20px;
    background-color: var(--text-color);
    border-radius: 2px;
}

.services .services-item {
    position: relative;
    background-color: var(--orange-color);
    border-radius: 4px;
    box-shadow: 0 0 15px #111;
    cursor: pointer;
    transition: all var(--default-transition);
}

.services .services-item:hover {
    transform: scale(1.015);
}

.services .services-item:hover img{
    opacity: 0.3;
}

.services .services-item:hover h3 {
    background: none;
}

.services .services-item img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: all var(--default-transition);
    border-radius: 4px;
}

.services .services-item h3 {
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    width: 100%;
    padding: 20px 0;
    margin: 0;
    font-family: 'Poiret One', cursive;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(48, 51, 46, 0.8);
    opacity: 1;
    z-index: 1;
    transition: all var(--default-transition);
}

@media (min-width: 620px) {
    .services-items {
        grid-template-columns: 1fr 1fr;
    };
}

@media (min-width: 900px) {
    .services-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2b2e29;
}

.contacts h2 {
    margin: 0;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 1.7rem;
}

.contacts h2::after {
    content: "";
    display: block;
    width: 3.5rem;
    height: 2px;
    margin: 5px auto 20px;
    background-color: var(--text-color);
    border-radius: 2px;
}

.contacts form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.contacts form input, textarea {
	display: block;
	width: 100%;
	height: 45px;
    border: none;
	border-bottom: 1px solid #989997;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
	background: transparent;
    color: var(--text-color);
    resize: none;
    transition: border-bottom var(--default-transition);
}

.contacts form input::placeholder, textarea::placeholder {
    color: #c1c2c0;
}

.contacts form input:focus, textarea:focus {
    border: none;
    border-bottom: 2px solid var(--text-color);
    outline: none;
}

.contacts form textarea {
    height: 10rem;
}

.contacts form input.button {
    text-align: center;
    border: none;
    width: 10rem;
    margin: 15px auto;
    background-color: #454743;
    border-radius: 3px;
    box-shadow: 0 0 8px #222;
    transition: background-color var(--default-transition);
}

.contacts form input.button:hover {
    background-color: var(--orange-color);
}

.contacts .contacts-info a {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    transition: all var(--default-transition);
    margin: 0 5px;
}

.contacts .contacts-info a:hover {
    color: var(--orange-color);
}

.contacts .contacts-info a i {
    font-size: 1.2rem;
}

.contacts-map {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
}

@media (min-width:620px) {
    .contacts-map {
        width: auto;
    }
}