@import url('https://fonts.googleapis.com/css?family=Oswald|Poiret+One&display=swap');

:root {
    font-family: 'Oswald', sans-serif;
    --main-color: #30332E;
    --text-color: #E2E2E2;
    --orange-color: #bd632f;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    max-width: 980px;
    margin: auto;
    box-shadow: 0 0 10px #222;
}

.services {
    background-image: url('../images/sonusfabe-ilcremonese.jpg');
    background-position: right;
    background-size: cover;
    box-shadow: 
        inset 0px 11px 10px -10px #111,
        inset 0px -11px 10px -10px #111;
    padding: 20px;
}

.services-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.services h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 15px;
}

.services h2::after {
    content: "";
    display: block;
    width: 3.5rem;
    height: 2px;
    background-color: var(--text-color);
    margin: 5px auto 0;
    border-radius: 2px;
}

.services .services-item {
    position:relative;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 0 15px #111;
    background-color: var(--orange-color);
    border-radius: 5px;
}

.services .services-item:hover {
    transform: scale(1.015);
}

.services .services-item:hover img{
    opacity: 0.3;
}

.services .services-item:hover h3 {
    background: none;
}

.services .services-item img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: all 0.2s;
    border-radius: 5px;
}

.services .services-item h3 {
    font-family: 'Poiret One', cursive;
    font-size: 1.6rem;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(48, 51, 46, 0.8);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s;
}

@media (min-width: 620px) {
    .services-items {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-gap: 10px;
    }

    .services-items .services-item {
        margin: 0;
    }
}

@media (min-width: 900px) {
    .services-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer { 
    padding: 20px 0;
    text-align: center;
}

footer i {
    margin: 10px;
    font-size: 3rem;
    color: var(--text-color);
    transition: color .25s;
}

footer i:hover {
    color: var(--orange-color);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 3px;
}

footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: .9rem;
    transition: color .25s;
}

footer ul li a:hover {
    color: var(--orange-color);
}