.services {
    padding: 2.5rem;
    background-image: url('../images/sonusfaber-ilcremonese.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: var(--top-shadow),
                var(--bottom-shadow);
}

.services-items {
    display: flex;
    flex-wrap: wrap;
}

.services-items .services-column {
    flex: 100%;
}

@media (min-width: 680px) {
    .services-items .services-column {
    flex: 50%;
    }
}
@media (min-width: 960px) {
    .services-items .services-column {
    flex: 33.333%;
    }
}

.services h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 1.7rem;
}

.services h2:after {
    content: "";
    display: block;
    margin: 5px auto 0;
    width: 3.5rem;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 2px;
}

.services .services-items {
    padding: 2rem 0;
}

.services .services-image {
    position: relative;
    cursor: pointer;
    background-color: var(--event-color);
    border-radius: 3px;
    box-shadow: var(--item-shadow);
    transition: all var(--main-transition);
    overflow: hidden;
    margin: 0 .5rem;
}

.services-items .services-column .services-item .services-descr {
    margin: 0 .5rem 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: var(--text-color);
    color: var(--main-color);
    border-radius: 0 0 3px 3px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .7s ease;
    
}

.services-items .services-column .services-item .services-descr-active {
    max-height: 30rem;
    padding: 1rem;
    margin: 0 .5rem 1rem;
    opacity: 1;
    transition: all .7s ease;
} 

.services .services-image img {
    display: block;
    width: 100%;
    opacity: 1;
    transition: all var(--main-transition);
}

.services .services-image h3 {
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;    
    font-family: 'Poiret One', cursive;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(48, 51, 46, 0.8);
    opacity: 1;
    z-index: 1;
    transition: all var(--main-transition);
}

.services .services-image:hover {
    transform: scale(1.01);
}

.services .services-image:hover img{
    opacity: 0.3;
}

.services .services-image:hover h3 {
    background: none;
}